name: Fix @latest tag

on:
  workflow_dispatch:
    inputs:
      latest-version:
        description: 'The version that should be @latest, e.g. "6.7.0"'
        required: true
        type: string

defaults:
  run:
    shell: bash

jobs:
  test:
    name: Update @latest tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'

      - name: Install Dependencies
        run: |
          npm install

      - name: Tag
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          LATEST_VERSION: ${{ inputs.latest-version }}
        run: |
          echo "Setting @workos-inc/node@latest to $LATEST_VERSION"
          npm dist-tag add @workos-inc/node@$LATEST_VERSION latest
