name: Release

on:
  # Support manually pushing a new release
  workflow_dispatch: {}
  # Trigger when a release or a pre-release is published
  release:
    types: [published]

defaults:
  run:
    shell: bash

jobs:
  test:
    name: Publish to NPM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'

      - name: Install Dependencies
        run: |
          npm install

      - name: Build Project
        run: |
          npm run build

      - name: Run Tests
        run: |
          npm run test

      - name: Publish
        if: ${{ !github.event.release.prerelease }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm publish --tag latest --access=public

      - name: Publish Pre-Release
        if: ${{ github.event.release.prerelease }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          # Tags may come prefixed with "v" which we want to remove before putting
          # it as the version of this deploy. E.g. this will turn "v7.5.0-beta" to "7.5.0-beta"
          CLEAN_TAG=$(echo "${{ github.event.release.tag_name }}" | sed 's/[^0-9]//')
          jq ".version=\"${CLEAN_TAG}\"" package.json > package.json.deploy
          cp package.json.deploy package.json

          echo "Deploying with package.json"
          cat package.json

          npm publish --tag next --access=public
